<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href={{url_for("static", filename="styles/passgenerator.css" )}}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
  <div class="preloader">
  <div class="preloader__row">
    <div class="preloader__item"></div>
    <div class="preloader__item"></div>
  </div>
</div>
<div class="limiter">
    <div class="container">
        <div class="wrap">
            <form class="form " action="/generator_form" method="post" name="form">
                <span class="form_title"> Password Generator </span>
                <div class="wrap_input validate-input">
                    <input class="input" type="number" name="password_length" min="0" value="8" id="length"
                           placeholder="Введете длину пароля"/>
                    <textarea class="input texta" name="banned_symbols" id="symbols">Введите нежелательные символы</textarea>
                   </div>
              <div class = "checkboxes_wrapper">
                  <div class="element_wrapper">
                      <input type="checkbox" class="checkbox" id="checkbox1" onchange="chbox1()"/>
                      <label for="checkbox1">Убрать буквы</label>
                  </div>
                  <div class="element_wrapper">
                      <input type="checkbox"  class="checkbox" id="checkbox2" onchange="chbox2()"/>
                      <label for="checkbox2">Убрать специальные символы</label>
                  </div>
                  <div class="element_wrapper">
                      <input type="checkbox" class="checkbox" id="checkbox3" onchange="chbox3()"/>
                      <label for="checkbox3">Убрать цифры</label>
                  </div>
              </div>
                <div id="passw" class="passw"></div>
                <div class="container_form_btn">
                    <input type="button" value="Generate" class="form_btn" onclick="generate();"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/passgenerator.js')}}"></script>
</body>
</html>