body {
    margin: 0 50px 0 50px;
}

.limiter {
    width: 100%;
    display: block;
    margin: 0 auto;

}

.container {
    min-height: 70vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.wrap {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.content input {
    border: 1px solid #F7F7F7;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
    padding: 20px 0px 20px 15px;
    background-color: white;
    font-size: 30px;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}



.row {
    display: flex;
    align-items: center;

}

.sings {
    display: flex;
    flex-direction: column;
}

.digit {
  cursor:pointer;
    background-color: #F1F3F4;
    border: none;
    outline: none;
    padding: 10px 55px 10px 55px;
    border-radius: 5px;
    margin: 5px;
  width:  120px;
}

.sing {
  cursor:pointer;
    background-color: #DADCE0;
    border: none;
    outline: none;
    padding: 10px 55px 10px 55px;
    border-radius: 5px;
    margin: 5px;
    width: 120px;
}

#equal {
    color: white;
    background-color: #4481F0;
    font-size: 20px;
    font-weight: bolder;
    padding: 7px 50px 7px 50px;
}











